header  {
    text-align: center;
    padding: 20px;
}

main {
    max-width: 1200px;
    margin: auto;
}


#products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;


 }


.product {
    text-align: center;
    border: 1px solid black;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.product  img {
    width: 250px;
    background-color: black;
    border-radius: 8px 8px 0 0;
    height: 200px;
    object-fit: cover;
}


.product h2 {
    margin: 10px 0;
}
 

.product p {
    font-weight: bold;
    color: green;
}





.product button {
    background-color: black;
    color: white;
    width: 90%;
    font-size: 16px;
    padding: 10px;

}
.product button:hover {
    background-color: orange;
    cursor: pointer;
}


.product:hover {
    transform: translateY(-5px);
}


body {
    max-width: 1200px;
    margin: auto;
    font-family: Arial, sans-serif;
}

@media (max-width: 600px) {
    .product {
        width: 100%;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    .product {
        width: 45%;
    }
}

@media (min-width: 901px) {
    .product {
        width: 250px;
    }
}
